<!DOCTYPE html>
<html>
    <head>
        <title>Congo Online</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/iapt.css')}}" media="screen"/>

        {{include 'web2py_ajax.html'}}
    </head>
    <body>
        <header id="header">
            <h1 class="congo">
            <a href={{=URL('default', 'index')}}>Congo Store</a>
            </h1>
        </header>
        <nav id="nav">
             <ul>
                 <li><a href={{=URL('default', 'search2')}}>Search</a></li>
                 <li><a href={{=URL('store', 'index')}}>Featured</a></li>
                 <li><a href={{=URL('store', 'books')}}>Books</a></li>
                 <li><a href={{=URL('store', 'videos')}}>Videos</a></li>
            </ul>
        </nav>
        <main id="main">
        {{include}}
        {{pass}}
        </main>
        <div class="add">
            This is where an add would be
        </div>
        <footer id="footer">
            Copyright IAPT Module - Harrison Spain
        </footer>
    </body>
</html>
