<!DOCTYPE html>
<html>
    <head>
        <title>Congo Online</title>
        <meta charset="utf-8"/>
        <style>
            div.intro {
                color: red;
            }
            div.glance {
                color: blue;
            }
            h1{
                font-family: courier;
            }
        </style>
    </head>
    <body>
        <h1 class="congo">
           Congo Store
        </h1>
         <ul>
             <li><a href="../store/index">Home</a></li>
             <li><a href="../store/books">Books</a></li>
             <li><a href="../store/videos">Videos</a></li>
        </ul>
        {{include}}
        {{pass}}
    </body>
</html>
