<!DOCTYPE html>
{{extend 'congo-layout.html'}}
<div class="intro">
    <h2>Featured</h2>
</div>
<div class="features">
    {{for item in features:}}
    <div class="product">
        {{=H3(item.products.name)}}
        <div id="details">
        <p>
            Details
        </p>
        <ul>
            <li>Publisher: {{=item.products.publisher}}</li>
            <li>Format: {{=item.products.ptype}}</li>
            <li>Price: {{=item.products.price}}</li>
        </ul>
        </div>
        <div class="glance">
        <p>
            <b>At a Glance:	</b>
            {{=I(item.products.description)}}
        </p>
        </div>
    </div>
    {{pass}}
</div>
