<!DOCTYPE html>
{{extend 'congo-layout.html'}}
<html>
    <head>
        <title>Congo Store - Videos</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="intro">
            <h2>Videos</h2>
        </div>
        {{videos=db(db.products.ptype == "Blu-Ray").select()}}
        {{for item in videos:}}
        <div class="product">
            {{=H3(item.name)}}
            <div id="details">
            <p>
                Details
            </p>
            <ul>
                <li>Publisher: {{=item.publisher}}</li>
                <li>Format: {{=item.ptype}}</li>
                <li>Price: {{=item.price}}</li>
            </ul>
            </div>
            <div class="glance">
            <p>
                <b>At a Glance:	</b>
                {{=item.description}}
            </p>
            </div>
        </div>
    </body>
</html>
