<!DOCTYPE html>
{{extend 'congo-layout.html'}}
<html>
    <head>
        <title>Congo Store - Books</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="intro">
        <h2>Books</h2>
         </div>
       <div class="product">
            <h3>Batman: Arkham Asylum</h3>
            <div id="details">
            <p>
                Details
            </p>
            <ul>
                <li>Writer: Grant Morrison</li>
                <li>Publisher: DC Comics</li>
                <li>Format: Paperback</li>
                <li>Pages: 216</li>
                <li>Price: 9</li>
            </ul>
            </div>
            <div class="glance">
            <p>
                <b>At a Glance:	</b>
                Some stuff about batman asdfasdf
            </p>
            </div>
        </div>
        <div class="product">
            <h3>Superman: Earth One</h3>
            <div id="details">
            <p>
                Details
            </p>
            <ul>
                <li>Writer: Michael</li>
                <li>Publisher: DC Comics</li>
                <li>Format: Paperback</li>
                <li>Pages: 136</li>
                <li>Price: 7</li>
            </ul>
                </div>
            <div class="glance">
            <p>
                <b>At a Glance:	</b>
                Some stuff about superman asdfasdf
            </p>
                </div>
        </div>
    </body>
</html>
